body {
  background-size: cover;
  height: 100vh;
  margin: 0;
  min-width: 810px;
  background: #846ADD;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
}

/* latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

main {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

main::before {
  background-image: url("img/bg-01.jpg");
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.3;
}

.card {
  width: 60%;
  height: 80%;
  background: white;
  border-radius: 0.5rem;
}

.basic {
  display: flex;
  flex: 1 0 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.card .basic img {
  width: 15rem;
  position: relative;
  left: 2rem;
}

.purple .input input, .purple button {
  background: #E6E6E6;
  padding: 0.7rem 0 0.7rem 2.3rem;
  border-radius: 1rem;
  flex: 1 1 auto;
  width: 30%;
  outline: none;
  border: none;
  color: #AAAAAA;
}

.purple textarea {
  background: #E6E6E6;
  border-radius: 1rem;
  outline: none;
  max-width: 25vw;
  max-height: 15vh;
  border: none;
  color: #AAAAAA;
}

.fas {
  position: absolute;
  align-items: center;
  left: 1.2rem;
  font-size: 12px;
  color: #AAAAAA;
}

.purple {
  display: flex;
}

p.purple {
  margin: 0 0 0.5rem 0;
}

#usrform {
  padding-right: 2rem;
  max-width: 30%;
}

#usrform p {
  text-align: center;
  font-size: 18px;
}

.purple .input {
  display: flex;
  position: relative;
  align-items: center;
  flex: 1 1 auto;
  width: 30%;
}

.purple button {
  background: #846ADD;
  text-align: center;
  color: white;
  padding: 0.5rem 0;
  cursor: pointer;
  flex: 1 1 auto;
}

::-webkit-input-placeholder {
  color: #AAAAAA;
}

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

.input input:focus+.fas {
  color: #846ADD;
  left: 0.7rem;
}

.purple button:hover {
  background: rgb(135, 121, 156) ease;
}